<% if @restaurant.errors.any? %>
  <ul>
    <% @restaurant.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>


<%= form_for @restaurant do |f| %>
  Nome: <br/><%= f.text_field :name %><br/>
  Endereço: <br/><%= f.text_field :address %><br/>
  Especialidade: <br/><%= f.text_field :speciality %><br/>
  Sobre: <br/><%= f.text_area :about %><br/>
  <%= f.submit %>
<% end %>

<%= link_to 'Pagina inicial', action: 'index' %>
